<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stok Barang</title>
</head>

<body>
    <script src="./lib/vue.js"></script>
    <script src="./lib/vue-router.js"></script>
    <script src="./lib/alasql.js"></script>
    <script src="./lib/swal.js"></script>
    <script src="./lib/db.js"></script>
    <link rel="stylesheet" href="./lib/pico.css">

    <style>
        body {
            padding: 20px;
        }

        .gridnya {
            grid-template-columns: repeat(5, minmax(0, 1fr));
        }

        .menu {
            grid-column: span 1 / span 1;
        }

        .utama {
            grid-column: span 4 / span 4;
        }
    </style>

    <script>
        let routes = [];
    </script>

    <div id="app">
        <div :class="$route.fullPath != '/database' ? 'grid gridnya' : null">

            <ol v-if="$route.fullPath != '/database'" class="menu">
                <li><a href="#/stok/list">Stok Barang</a></li>
            </ol>
            <div :class="$route.fullPath != '/database' ? 'utama' : null">

                <router-view></router-view>
            </div>
        </div>
    </div>

    <html-vue><template id="v-346e5bb6">
    



<table>
    <tbody>
        <tr>
            <td>
                <ol>

                    <li v-for="x in table.sort()">
                        <a href="" @click.prevent="pilihTable(x)">

                            {{ x }}
                        </a>
                    </li>
                </ol>
            </td>
            <td>
                <h1>{{ terpilihJudul }}</h1>
                <table v-if="terpilihIsi.length > 0">
                    <thead>
                        <tr>
                            <th v-for="(x, n) in terpilihIsi[0]">
                                {{ n }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="x in terpilihIsi">
                            <td v-for="n in x">{{ n }}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <h2>Query</h2>
                <form action="" @submit.prevent="jalankanQuery">
                    <textarea name="" v-model="query" id="" cols="30" rows="10"></textarea>
                    <input type="submit" value="Olahin">
                </form>
                <table v-if="queryIsi.length > 0">
                    <thead>
                        <tr>
                            <th v-for="(x, n) in queryIsi[0]">{{ n }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="x in queryIsi">
                            <td v-for="n in x">{{ n }}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
    </template><style>
    li {
        margin-bottom: 10px;
    }

    td,
    th {
        border: 1px solid black;
        padding: 10px;
        vertical-align: top;
    }

    table {
        border-collapse: collapse;
    }

    input,
    textarea {
        display: block;
        margin-bottom: 10px;
    }
</style><script>
routes.push({
    path: '/database',
    component: {
        template: '#v-346e5bb6',
        
        data() {
            return {
                table: [],
                terpilihJudul: '',
                terpilihIsi: [],
                queryIsi: [],
                query: ''
            };
        },
        mounted() {
            this.table = Object.keys(alasql.tables);
            this.pilihTable(this.table.sort()[0]);
        },
        methods: {
            pilihTable(table) {
                this.terpilihJudul = table;
                this.terpilihIsi = alasql('select * from ' + table);
            },
            jalankanQuery() {
                this.queryIsi = alasql(this.query);
            }
        }
    
    }
});
</script><template id="v-2560402a"><h1>Aplikasi Stok Barang</h1></template><script>
      routes.push({
          path: '/',
          component: {
              template: '#v-2560402a'
          }
      });
      </script><template id="v-7e0bb708">

<h1>Tambah Stok</h1>

<form action="" @submit.prevent="simpan">
    <label for="">Nama Barang</label>
    <input type="text" required v-model="nama_barang">
    <label for="">Jenis Barang</label>
    <input type="text" required v-model="jenis_barang">
    <label for="">Ukuran</label>
    <input type="number" required v-model="ukuran">
    <label for="">Harga Beli</label>
    <input type="number" name="" required id="" v-model="harga_beli">
    <label for="">Harga Jual</label>
    <input type="number" name="" id="" required v-model="harga_jual">
    <label for="">Datangnya Kapan</label>
    <input type="date" name="" id="" required v-model="datangnya_kapan">
    <input type="submit" value="Simpan">
</form></template><script>
routes.push({
    path: '/stok/baru',
    component: {
        template: '#v-7e0bb708',
        
        data() {
            return {
                nama_barang: '',
                jenis_barang: '',
                ukuran: '',
                harga_beli: '',
                harga_jual: '',
                datangnya_kapan: ''
            };
        },
        methods: {
            simpan() {
                alasql('insert into stok_barang (nama_barang, jenis_barang, ukuran, harga_beli, harga_jual, datangnya_kapan) values (?, ?, ?, ?, ?, ?)', [this.nama_barang, this.jenis_barang, this.ukuran, this.harga_beli, this.harga_jual, this.datangnya_kapan]);
                location.href = '#/stok/list';
            }
        }
    
    }
});
</script><template id="v-a564acfd"></template><script>
      routes.push({
          path: '/stok/ubah/:id',
          component: {
              template: '#v-a564acfd'
          }
      });
      </script><template id="v-2c5c2c98">

<p><a href="#/stok/baru">Tambah Stok Barang</a></p>
<h2>List Stok Barang</h2>
<table>
    <thead>
        <tr>
            <th>Nama Barang</th>
            <th>Harga Beli</th>
            <th>Harga Jual</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="x in data" :key="x.id">
            <td>{{ x.nama_barang }}</td>
            <td>{{ x.harga_beli.toLocaleString() }}</td>
            <td>{{ x.harga_jual.toLocaleString() }}</td>
            <td>
                <a :href="'#/stok/ubah/' + x.id">Ubah</a>
                &nbsp;
                <a href="">Hapus</a>
            </td>
        </tr>
    </tbody>
</table></template><script>
routes.push({
    path: '/stok/list',
    component: {
        template: '#v-2c5c2c98',
        
        data() {
            return {
                data: []

            };
        },
        mounted() {
            this.data = alasql(`select 
  id,
  nama_barang,
  harga_beli,
  harga_jual
from 
  stok_barang
order by
  nama_barang`);
        }
    
    }
});
</script></html-vue>

    <script>


        const router = VueRouter.createRouter({
            history: VueRouter.createWebHashHistory(),
            routes,
        });

        const app = Vue.createApp({});
        app.use(router);
        app.mount('#app');

    </script>
</body>

</html>