<script>
    export default {
        data() {
            return {
                nama_barang: '',
                jenis_barang: '',
                ukuran: '',
                harga_beli: '',
                harga_jual: '',
                datangnya_kapan: new Date().toISOString().split('T')[0],
                listJenisBarang: [],
                listUkuran: [],
                banyak: 1
            };
        },
        mounted() {
            this.listJenisBarang = alasql(`select distinct
  jenis_barang
from
  stok_barang
order by
  jenis_barang`);
            this.listUkuran = alasql(`select distinct
  ukuran
from
  stok_barang
order by
  ukuran`);
        },
        methods: {
            simpan() {
                alasql('insert into stok_barang (nama_barang, jenis_barang, ukuran, harga_beli, harga_jual, datangnya_kapan, banyak, stok_tersedia, diupdate_kapan) values (?, ?, ?, ?, ?, ?, ?, ?, ?)', [this.nama_barang, this.jenis_barang, this.ukuran, this.harga_beli, this.harga_jual, this.datangnya_kapan, this.banyak, this.banyak, this.datangnya_kapan]);
                location.href = '#/stok/list';
            }
        }
    }
</script>

<h1>Tambah Stok</h1>

<form action="" @submit.prevent="simpan">
    <label for="">Nama Barang</label>
    <input type="text" required v-model="nama_barang">
    <label for="">Jenis Barang</label>
    <input type="text" required v-model="jenis_barang" list="jenis-barang">
    <datalist id="jenis-barang">
        <option v-for="x in listJenisBarang" :value="x.jenis_barang"></option>
    </datalist>
    <label for="">Ukuran</label>
    <input type="number" required v-model="ukuran" list="ukuran">
    <datalist id="ukuran">
        <option v-for="x in listUkuran" :value="x.ukuran"></option>
    </datalist>
    <label for="">Harga Beli</label>
    <input type="number" name="" required id="" v-model="harga_beli">
    <label for="">Harga Jual</label>
    <input type="number" name="" id="" required v-model="harga_jual">
    <label for="">Datangnya Kapan</label>
    <input type="date" name="" id="" required v-model="datangnya_kapan">
    <label for="">Banyak</label>
    <input type="number" required v-model="banyak">
    <input type="submit" value="Simpan">
</form>